* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(185, 75%, 39%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.img__body {
    position: fixed;
    width: 130%;
    height: 65%;
    z-index: -1;
}

.body__1 {
    top: -180px;
    left: -250px;
}

.body__2 {
    bottom: -180px;
    right: -250px;
}

.container__main {
    background-color: hsl(0, 100%, 100%);
    width: 320px;
    border-radius: 15px;
    text-align: center;
    font-family: 'Kumbh Sans';
}

.background {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.perfil {
    border-radius: 50%;
    border: 2px solid hsl(0, 100%, 100%);
    width: 100px;
    margin-top: -55px;
}

.name {
    font-size: 1.2rem;
    margin: 15px 0 5px 0;
    color: hsl(229, 23%, 23%);
}

.age {
    color: hsl(227, 10%, 46%);
    font-weight: 400;
    font-size: 1.1rem;
    margin-left: 5px;
}

.country {
    color: hsl(227, 10%, 46%);
    font-size: .9rem;
    font-weight: 400;
    margin-bottom: 15px;
}

.line {
    border-top: 1px solid hsl(0, 0%, 91%);
}

.list__likes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 25px 0;
}

.likes {
    font-weight: 700;
    font-size: 1.1rem;
}

.likes__name {
    font-size: .7rem;
    letter-spacing: 1px;
    font-weight: 400;
}